body {
  background: linear-gradient(to right, #666869, #baadb2);
  font-family: 'Arial', sans-serif;
}

.card {
  max-width: 500px;
  margin: auto;
  background-color: #eae8e8;
  border-radius: 20px;
}

.output h4 {
  background-color: #000;
  color: white;
  padding: 10px;
  border-radius: 10px;
}
@font-face {
    font-family: 'Starborn';
    src: url('Starborn.ttf') format('truetype');
  }
  
  body {
    font-family: 'Starborn', sans-serif;
  }
  